/* GENERALES - INICIO */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  color: #3C2035;
  font-size: 29px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* #104B53 azul */
/* #D99B5E marron */
/* #FAD9B8 claro */
/* #3C2035 violetita */
/* #915416 fraseday */
/* GENERALES - FIN */
/* HEADER - INICIO */
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
}

nav {
  font-size: 20px;
}

.logete {
  width: 150px;
}

.encabezado {
  background-color: #104B53;
}

.texto {
  color: #D99B5E;
  border-left: #FAD9B8 1px solid;
  border-right: #FAD9B8 1px solid;
}

.texto:hover {
  color: #c77d34;
  font-weight: bold;
}

.titulo {
  color: #55DBCB;
  font-size: 40px;
  text-transform: none;
}

.logo {
  height: 100px;
  width: auto;
}

h1 {
  text-align: center;
  color: #D99B5E;
  font-size: 29px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* HEADER - FIN */
/* INDEX - INICIO */
.imagenIndex {
  height: 930px;
}

.textoPresentacion {
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fraseDay {
  font-size: 40px;
  color: #915416;
  padding-top: 20px;
  padding-bottom: 25px;
}

.elejir {
  background-color: #104B53;
  color: white;
  padding: 3vh 12vh;
  border-radius: 6px;
  font-size: large;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 1px 1px 20px;
}

/* INDEX - FIN */
/* PRODUCTOS- INICIO */
.button {
  padding: 5px 20px;
  background-color: #D99B5E;
  color: #104B53;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #c77d34;
}

.card {
  border-radius: 9px;
  padding: 15px;
  background-color: #FAD9B8;
  box-shadow: 4px 6px 10px;
  margin-bottom: 10px;
}

.card-img-top {
  height: 50vh;
  object-fit: contain;
}

/* PRODUCTOS - FIN */
/* LOCALES - INICIO */
.contenedorUbi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.textoUbi {
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
  color: #104B53;
  padding-top: 2px;
  padding-bottom: 13px;
}

/* LOCALES - FIN */
/* DIETAS - INICIO */
.dias {
  color: black;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 13px;
}

.contenedorDietas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
}

.dietas {
  border: 4px #3C2035 dashed;
  padding: 20px;
  margin: 30px;
}

.tituloDieta {
  color: #3C2035;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

/* DIETAS - FIN */
/* CONTACTO - INICIO */
.preguntas {
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.preguntas:hover {
  text-transform: uppercase;
  text-decoration: underline;
}

form .button {
  padding: 5px 5px;
  font-size: 15px;
}

/* CONTACTO - FIN */
/* FOOTER - INICIO */
.link {
  text-align: center;
  color: crimson;
  font-size: medium;
  font-weight: bolder;
}

.derechos {
  text-align: end;
}

/* FOOTER - FIN */
/* MEDIA QUERIES - INICIO */
@media (max-width: 576px) {
  .imagenIndex {
    height: auto;
  }
  .texto {
    border: none;
    text-align: end;
  }
  .contenedorDietas {
    grid-template-columns: 1fr;
  }
  .contenedorUbi {
    grid-template-columns: 1fr;
  }
  .achicar {
    width: 70%;
  }
}
@media (min-width: 577px) and (max-width: 1199px) {
  .imagenIndex {
    height: auto;
  }
  .texto {
    border: none;
    text-align: end;
  }
  .contenedorDietas {
    grid-template-columns: 1fr 1fr;
  }
  .contenedorUbi {
    grid-template-columns: 1fr;
  }
  .achicar {
    width: 70%;
  }
}
/* MEDIA QUERIES - FIN */

/*# sourceMappingURL=style.css.map */
