/* CONTACTO - INICIO */

.preguntas {

    font-size: larger;

    font-family: 'Courier New', Courier, monospace;

    font-weight: bold;

}

.preguntas:hover {

    text-transform: uppercase;

    text-decoration:underline;

}

form .button {

    padding: 5px 5px;

    font-size: 15px;


}




/* CONTACTO - FIN */