/* GENERALES - INICIO */

* {

    margin: 0;

    padding: 0;

    font-family: sans-serif;


}

body {

    background: radial-gradient(circle,#FFFFFF,#F2EEEE);

}



h1 {

    @include alineadoColorSize (center,$color-secundario,30px);

    text-transform: uppercase;

    padding-top: 20px;

    font-weight: bold;

  
}

h2 {

    @include alineadoColorSize (center,$color-alternativo,23px);

    text-transform: uppercase;

    padding-top: 20px;

    padding-bottom: 10px;

    font-weight: bold;
    
}



/* #104B53 azul */
/* #D99B5E marron */
/* #FAD9B8 claro */
/* #3C2035 violetita */
/* #915416 fraseday */

/* GENERALES - FIN */

