/* GENERALES - INICIO */

* {

    margin: 0;

    padding: 0;

    font-family: sans-serif;


}

img {

    width: 100%;
    height: auto;

}

h2 {

    text-align: center;

    color: #3C2035;


    font-size: 29px;

    text-transform: uppercase;

    padding-top: 20px;

    padding-bottom: 15px;

    font-weight: bold;
    
}

/* #104B53 azul */
/* #D99B5E marron */
/* #FAD9B8 claro */
/* #3C2035 violetita */
/* #915416 fraseday */

/* GENERALES - FIN */

