/* HEADER - INICIO */

a {

    text-decoration: none;

    text-transform: uppercase;

    font-weight: 800;

    font-family: sans-serif;

}


nav {

    font-size: 20px;

}

.logete {

    width: 150px;

}

.encabezado {

   background-color: #104B53;

}

.texto {

    color: #D99B5E;

    border-left: #FAD9B8 1px solid;
    border-right:  #FAD9B8 1px solid;

}


.texto:hover {


    color: #c77d34;
    font-weight: bold;

}

.titulo {


    color: #55DBCB;

    font-size: 40px;

    text-transform: none;


}

.logo {


    height: 100px;

    width: auto;


}

h1 {

    text-align: center;

    color: #D99B5E;


    font-size: 29px;

    text-transform: uppercase;

    padding-top: 20px;

    padding-bottom: 15px;

    font-weight: bold;


}

/* HEADER - FIN */


