/* MEDIA QUERIES - INICIO */

@media (max-width: 576px){




    .imagenIndex {

        height: auto;

    }
    
    .texto {

        border: none;

        text-align: end;
    }

    .contenedorDietas {

        grid-template-columns: 1fr;

    }

    .contenedorUbi {
    
        grid-template-columns: 1fr;


    }

    .achicar {

        width: 75%;

    }


  


}

@media (min-width: 577px) and (max-width: 1199px){

    
    .imagenIndex {

        height: auto;

    }

    .texto {

        border: none;

        text-align: end;
    }

    .contenedorDietas {

        grid-template-columns: 1fr 1fr;

        
    }

    .contenedorUbi {
    
        grid-template-columns: 1fr;


    }

    .achicar {

        width: 75%;

    }

   

}

/* MEDIA QUERIES - FIN */