/* PRODUCTOS- INICIO */




.button {

    padding: 5px 20px;

    background-color:$color-secundario;

    color: $color-principal;

    font-size: 20px;

    font-weight: bold;

    text-transform: uppercase;

    border-radius: 10px;

    border: none;

    cursor: pointer;


}


.button:hover {

    background-color: #c77d34;

}




.card {

    border-radius: 9px;
    padding: 15px;
    background-color: $color-terciario;
    box-shadow: 3px 2px 8px #FF8C21;
    margin-bottom: 20px;

}

.card-img-top {

    height: 50vh;
    object-fit: contain;


}



.buttonModalComprar {

    padding: 6px;

    font-size: 15px;



}

.buttonModalCancelar {

    padding: 6px;

    font-size: 15px;

    background-color: $color-terciario;
}

.buttonModalCancelar:hover {

    background-color: #FAE7D3;

}





/* PRODUCTOS - FIN */