

.contenedorWpp {

    display: inline-flex;
    position: sticky;
    margin-left: 95%;
    z-index: 999;
    top: 90%;

}


.tamañoWpp {

    height: 7vh;
    object-fit: contain;
    margin: 10px;


}